# Dependencies
node_modules/
venv/
__pycache__/
*.pyc
.pytest_cache/

# Build
.next/
build/
dist/

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.pem
*.log
.coverage